/* src/components/ChatRoom.css */
.chat-room {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f7f9fc;
}

.chat-room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #3b5998;
  color: #fff;
  font-size: 20px;
}

.logout-btn {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: #c0392b;
}