body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background-color: #313030; */
  background: linear-gradient(165deg, #9c9403f0, #f88101);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.joinchat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 60vh;
}

.joinchat-container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 500px;
  background: url('/social.jpg') no-repeat  ;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.joinchat-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
}

.joinchat-left .overlay p {
  color: #dddddd;
  font-size: 22px;
}

.joinchat-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); 
}

.joinchat-right h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
}

.joinchat-right input {
  width: 100%;
  max-width: 300px;
  padding: 8px 0;
  margin-bottom: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  color: #ffffff;
  transition: border-color 0.3s;
}

.joinchat-right input::placeholder {
  color: #cccccc;
}

.joinchat-right input:focus {
  outline: none;
  border-bottom-color: #888888;
}

.joinchat-right button {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #8c8b8b; /* Dark background */
  color: #000000; /* White text */
  border: none;
  border-radius: 0; /* Square corners */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.joinchat-right button:hover {
  background-color: #e0dfdf; /* Slightly lighter on hover */
}

@media (max-width: 768px) {
  .joinchat-container {
    flex-direction: column;
    height: auto;
  }
  
  .joinchat-left,
  .joinchat-right {
    flex: none;
    width: 100%;
    padding: 30px;
  }
  
  .joinchat-left {
    height: 250px;
  }
  
  .joinchat-right h2 {
    font-size: 24px;
  }
}